<footer class="text-center bg-gray-900 text-white fixed bottom-0 w-full">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-whitehite" href="https://tailwind-elements.com/">Sijinsha ts</a>
    </div>
  </footer>